footer{
    background-color: #222;
    color: #fff;
    padding: 4rem 6rem;
}

footer .top , footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

footer .top .social svg{
    font-size: 30px;
    margin: 0 10px;
}